<blockquote>
	<h2>Search</h2>
</blockquote>
<div class="container">
	<div class="row row-padded">
		<div class="btn-group">
			<button type="button" id="twoWayBtn" class="btn btn-default active">
				Round-trip
			</button>
			<button type="button" class="btn btn-default">
				One-way
			</button>
		</div>
	</div>
	<div class="row row-padded">
		<form class="form-inline" role="form" method="post" action="<%= search_flights_path%>">
			<%= token_tag %>
			<input type="hidden" name="two_way" id="twoWay">
			<div class="form-group">
				<label class="sr-only" for="fromAirport">From Airport</label>
				<div class="input-group airport">
					<span class="input-group-addon glyphicon glyphicon-plane"></span>
					<select class="chosen-select form-control" name="from_airport" id="fromAirport">
						<%= render partial: 'airport_list'%>
					</select>
				</div>
			</div>
			to
			<div class="form-group airport">
				<label class="sr-only" for="toAirport">To Airport</label>
				<select class="chosen-select form-control" name="to_airport" id="toAirport">
					<%= render partial: 'airport_list'%>
				</select>
			</div>
			<div class="form-group">
				<div class="magic-padding mp2"></div>
			</div>
			<div class="form-group">
				<div class="input-group date">
					<span class="input-group-addon glyphicon glyphicon-calendar"></span>
					<input class="form-control datepicker" name="from_date" id="fromDate" type="text" data-date-format="dd-mm-yyyy">
				</div>
			</div>
			<span class="to-date">to</span>
			<div class="form-group date-short to-date">
				<input class="form-control datepicker" name="to_date" id="toDate" type="text" data-date-format="dd-mm-yyyy">
			</div>
			<div class="form-group">
				<div class="magic-padding mp2"></div>
			</div>
			<div class="form-group pax">
				<input class="form-control touchspin" name="pax" id="pax" type="text">
			</div>
			<div class="form-group">
				<div class="magic-padding mp1"></div>
			</div>
			<button type="submit" class="btn btn-default">
				Go!
			</button>
		</form>
	</div>
</div>
<%if !@results.nil?%>
<div class="search-results">
	<blockquote>
		<h3>Results</h3>
	</blockquote>

	<div class="container">
		<div class="row">
			<%if !@results.empty?%>
			<table class="table table-hover" data-origin="<%= @origin%>" data-destination="<%= @destination%>" data-pax=<%=@pax%> data-two-way=<%= @two_way%>>
				<thead>
					<tr>
						<th>Price</th>
						<th>Airline</th>
						<th>Departure</th>
						<th></th>
						<th>Arrival</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @results.each do |r| %>
					<tr data-flight-ids="<%= r[:flight_ids]%>" data-price="<%= r[:total_price]%>">
						<td<%= ' rowspan=2' if @two_way %>>
							<%= number_to_currency r[:total_price], precision: 0%></td>
							<td<%= ' rowspan=2' if @two_way %> class="airline-col">
								<%= r[:airlines]%></td> <td><%= r[:away].departure_location%></td>
								<td><%= r[:away].departure_time.to_formatted_s(:short)%></td>
								<td><%= r[:away].arrival_location%></td>
								<td><%= r[:away].arrival_time.to_formatted_s(:short)%></td>
								<td<%= ' rowspan=2' if @two_way %> class="center">
									<button type="button" id="book-btn" class="btn btn-success<%= ' btn-xs' if !@two_way %>">
										Book Now!
									</button></td>
					</tr>
					<%if @two_way then%>
					<tr>
						<td><%= r[:back].departure_location%></td>
						<td><%= r[:back].departure_time.to_formatted_s(:short)%></td>
						<td><%= r[:back].arrival_location%></td>
						<td><%= r[:back].arrival_time.to_formatted_s(:short)%></td>
					</tr>
					<%end%>
					<%end%>
				</tbody>
			</table>
			<%else%>
			<p>
				Sorry, no matching flights found.
			</p>
			<%end%>
		</div>
	</div>
</div>
<%end%>
<%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?%>
