<blockquote>
	<h2>Search</h2>
</blockquote>
<div class="container">
	<div class="row row-padded">
		<div class="btn-group">
			<button type="button" id="twoWayBtn" class="btn btn-default active">
				Round-trip
			</button>
			<button type="button" class="btn btn-default">
				One-way
			</button>
		</div>
	</div>
	<div class="row row-padded">
		<form class="form-inline" role="form" method="post" action="<%= search_flights_path%>">
			<%= token_tag %>
			<input type="hidden" name="two_way" id="twoWay">
			<div class="form-group">
				<label class="sr-only" for="fromAirport">From Airport</label>
				<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-plane"></span>
					<input type="text" class="form-control" name="from_airport" id="fromAirport" placeholder="From Airport">
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only" for="toAirport">To Airport</label>
				<input type="text" class="form-control" name="to_airport" id="toAirport" placeholder="To Airport">
			</div>
			<div class="form-group">
				<div class="magic-padding mp2"></div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-calendar"></span>
					<input class="form-control datepicker" name="from_date" id="fromDate" type="text" data-date-format="dd-mm-yyyy">
				</div>
			</div>
			to
			<div class="form-group">
				<input class="form-control datepicker" name="to_date" id="toDate" type="text" data-date-format="dd-mm-yyyy">
			</div>
			<div class="form-group">
				<div class="magic-padding mp2"></div>
			</div>
			<div class="form-group">
				<input class="form-control touchspin" name="pax" id="pax" type="text">
			</div>
			<div class="form-group">
				<div class="magic-padding mp1"></div>
			</div>
			<button type="submit" class="btn btn-default">
				Go!
			</button>
		</form>
	</div>
</div>
<%if !@results.nil?%>
<div class="search-results">
	<blockquote>
		<h3>Results</h3>
	</blockquote>
	<div class="container">
		<div class="row">
			<table class="table table-hover">
				<thead>
					<tr>
						<td>Price</td>
						<td>Airline</td>
						<td>Depature</td>
						<td></td>
						<td>Arrival</td>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<% @results.each do |r| %>
						<tr>
							<td<%= 'rowspan="2"' if @two_way %>><%= r[:total_price]%></td>
							<td<%= 'rowspan="2"' if @two_way %>><%= r[:airlines]%></td>
							<td><%= r[:away].departure_location%></td>
							<td><%= r[:away].departure_time%></td>
							<td><%= r[:away].arrival_location%></td>
							<td><%= r[:away].arrival_time%></td>
							<td<%= 'rowspan="2"' if @two_way %>>Book Button</td>
						</tr>
						<%if @two_way then%>
						<tr>
							<td><%= r[:back].departure_location%></td>
							<td><%= r[:back].departure_time%></td>
							<td><%= r[:back].arrival_location%></td>
							<td><%= r[:back].arrival_time%></td>
						</tr>
						<%end%>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>
<%end%>
