<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%=default_path%>">ThinkCan</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li<%=active_if_controller 'welcome'%>>
					<a href="<%=default_path%>">Latest Deals</a>
				</li>
				<li<%=active_if_controller 'flights'%>>
					<a href="<%=flights_path%>">Book Flight</a>
				</li>
				<li<%=active_if_controller 'explore'%>>
					<a href="#">Explore</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<%if user_signed_in?%>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>					
					<ul class="dropdown-menu">
						<li>
							<a href="#">Go to Cart</a>
						</li>
						<li>
							<a href="#">Checkout</a>
						</li>
						<li>
							<a href="<%=bookings_path%>">View Bookings</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">Account Settings</a>
						</li>
						<li class="divider"></li>
						<li>
							<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
						</li>
					</ul>
				</li>
				<%else%>
				<li>
					<a href="<%=new_user_session_path%>">Log In</a>
				</li>
				<%end%>
			</ul>
		</div>
	</div>
</nav>